    /* home page *//* home page *//* home page */
@media (max-width: 1600px){
.subscribe_form{
    padding-left: 560px;
}
}
@media (max-width: 1500px){
    .gallery_img1{
        width: 80%;
    }
    .gallery_img2{
        width: 80%;
    }
    .fourth{
        display: none;
    }
    }
    @media (max-width: 1400px){
        /* homepage */
    nav{
        margin-left: 6%;
        }
        /* artworks */
        .first_div_last_figure{
            display: none;
        }
        .second_div_last_figure{
            display: none;
        }
    }
    @media (max-width: 1280px){
        .main_logo{

            margin-left: 10.8%;
        }
        .last_article_button{
            margin-left: 30%;
        }
    
        .subscribe_form{
            padding-left: 400px;
        }
        .gallery_img1_smallimage{
            display: none;
        }
        .gallery_img1{
            align-content: center;
            justify-content: space-evenly;
        }
        .gallery_img2{
            justify-content: space-evenly;
        }
        .gallery_img2_thirdimage{
            display: none;
        }
        .main_navigation_div{
            width: 95%;
        }
        .last_figure{
            display: none;
        }
    }
    @media (max-width: 1200px){
        .artworks_article{
            width: 90%;
        }
        .contact_form{
            width: 40%;
        }
    }
    @media (max-width: 1160px){
        .first_banner_text{
            left: 50%;
            transform: translate(-50%, 50%);
        }
        .latest_products{
            width: 100%;
        }
    }
    @media (max-width: 1060px){
        ul{
            gap: 15px;
        }
        .third{
            display: none;
        }
        .artworks_article{
            width: 75%;
        }
    }
    @media (max-width: 900px){
        .article_cards{
            width: 80%;
        }
        .latest_products{
            width: 100%;
        }
        .subscribe_form{
            padding-left: 260px
        }
        .exp_card_h{
            font-size: 1rem;
        }
        .exp_card_text{
            font-size: 0.8rem;
        }
        .last_question{
            padding-top: 80px;
        }
        /* burger*//* burger*//* burger*/
        .fa-bars{
            display: block;
        }
        ul{
            
            height: 200px;
            background-color: aquamarine;
            position: fixed;
            top: 96px;
            left: -100%;
            flex-direction: column;
            gap: 0;
            justify-content: space-around;
            align-items: center;
        }
        .appear_diss{
            left: 0;
        }
        .main_logo{
            margin-left: 0;
        }
        .sign_in_logo{
            margin-left: 0;
            margin-right: 30px;
        }
        header{
            display: flex;
            justify-content: space-between;
        }

    }
    @media (max-width: 760px){
        .artworks_search{
            width: 90%;
        }
        .artworks_article{
            width: 90%;
        }
        .artworks_page_numbers{
            width: 40%;
        }
        .contact_form{
            margin: 0 auto;
            width: 65%;
        }
        .contact_map{
            width: 80%;
        }
    }
    @media (max-width: 725px){
        .frames{
            display: none;
        }
        .latest_products_images{
            flex-direction: column;
            gap: 20px;
        }
        .mobile_resolution{
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: auto;    
        }
        .first_banner_text{
            width: 90%;
            padding-top: 50px;
        }
        .last_figure{
            display: block;
        }
        .article_cards{
            height: auto;
            margin: 64px auto;
            flex-wrap: wrap;
        }
        .gallery{
            height: 1150px;
        }
        .gallery_h{
            padding: 32px 0 24px 0;
        }
        .gallery_img2{
            height: 608px;
            flex-direction: column;
            width: 95.5%;
            gap: 20px;
        }
        .image_resize{
            height: 322px;
            margin-top: 0;
        }
        .gallery_img1_bigimage{
            margin-bottom: 20px;
            width: 100%;
        }
        .gallery_img1{
            width: 95.5%;
        }

        .section2_homepage{
            height: 240px;
        }
        .banner2_h2{
            padding-top: 60px;
        }
        .subscribe_form{
            width: 500px;
            padding-left: 0;
            margin: auto;
            padding-left: 100px;
            margin-top: 24px;
        }
        .last_article_h{
            margin-top: 64px;
        }

        .last_article{
            width: 95%;
        }
        .explanation{
            flex-direction: column;
            height: auto;
            gap: 20px;
            margin-bottom: 0;
        }
        .exp_card{
            width: 100%;
        }
        /* footer */
        footer{
            height: 500px;
        }
        .main_navigation_div{
            flex-direction: column;
        }
        .help_plus_icons{
            margin: 0 auto 44px auto;
            text-align: center;
        }
        .footer_logo{
            margin: 0 auto 64px auto;
        }
        .footer_contact{
            margin: auto;
        }
    }
    @media (max-width: 665px){
        .figure_div_second{
            display: none;
        }
        .third{
            display: block;
        }
        .figure_div_first{
            margin: auto;
            margin-top: 40px;
            flex-direction: column;
            gap: 20px;
        }
        .artworks_figcaption{
            text-align: center;
        }
        .figure_img{
            width: 100%;
        }
        .artworks_page_numbers{
            width: 60%;
        }
        .lp_image{
            width: 100%;
        }
    }
        @media (max-width: 480px){
        .subscribe_form{
            padding-left: 0;
            width: 300px;
        }
        .view_more{
            display: block;
            width: 144px;
            height: 48px;
            font-family: 'Inter';
            font-weight: 400;
            font-size: 1rem;
            color: #FFFFFF;
            background-color: #B53B1B;
            border-radius: 10px;
            border: none;
            margin: auto;
            margin-top: 32px;
        }
        .last_article_button{
            margin-left: 17%;
        }
        .contact_form{
            width: 90%;
        }
        .main_div{
            display: flex;
            flex-direction: column;
        }
        .iframe{
            width: 100%;
        }
        .contact_map{
            height: auto;
        }
    }