.container{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
/* header */
header{
    width: 100%;
    height: 96px;
    background: rgba(213, 144, 110, 0.52);
    backdrop-filter: blur(5px);
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1;
}
nav{
    margin-left: 12.5%; 
}
.fa-bars{
    display: none;
}
.fa-xmark{
    display: none;
}
ul{
    display: flex;
    gap: 60px;
}
li{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.125rem;
    color: #fff;
}
li:hover{
    color: #D5906E;
    transform: scale(1.2);
    transition: 0.5s;
}
.main_logo{
    margin-left: 20.8%;
}
.sign_in_logo{
    display: flex;
    gap: 16.75px;
    margin-left: 20.8%;
}
p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #fff;
}
.fa-solid{
    color: #fff;
}
/* banner for home page */
.section1{
    width: 100%;
    background-image: url("../images/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
}
.first_banner_text{
    width: 39%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 115%);
    text-align: center;
    color: #fff;
}
.banner_h2{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 16px;
    animation: pulse 2s infinite;
}
@keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}
.first_banner_p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    padding-bottom: 71px;
    animation: pulse 2s infinite;
}
.shop_now_button{
    height: 60px;
    width: 45%;
    color: #fff;
    font-family: 'Inter';
    font-size: 1rem;
    border: 1px solid #D5906E;
    border-radius: 10px;
    background: none;
    cursor: pointer;
}
/* home page article */
.article_cards{
    width: 50%;
    height: 206px;
    margin: 160px auto;
    display: flex;
    justify-content: space-between;
}
.article_img{
    width: 190px;
    height: 160px;
}
figcaption{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.125rem;
    color: #B53B1B;
    margin-top: 24px;
    text-align: center;
}
/* home page gallery */
.gallery{
    width: 100%;
    height: 922px;
    background-color: #402101;
}
.gallery_h{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2.5rem;
    color: #FFFFFF;
    text-align: center;
    padding: 96px 0 40px 0;
}
.gallery_img1{
    width: 62%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.gallery_img2{
    width: 62%;
    padding-top: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
/* home page latest products */
.latest_products{
    width: 80%;
    margin: auto;
}
.latest_products_h{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2.5rem;
    color: #402101;
    text-align: center;
    padding: 160px 0 40px 0;
}
.latest_products_images{
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.frames{
    width: 44px;
    height: 44px;
    display: flex;
    margin-top: 110px;
}
.cont1{
    position: relative;
    text-align: center;
}
.price{
    position: absolute;
    bottom: 8px;
    left: 16px;
    width: 88px;
    height: 48px;
    background: #fff;
    border-radius: 20px;
    margin-left: 16px;
    margin-bottom: 16px;
}
.price_p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    color: #B53B1B;
    margin-top: 15px;
}
.lp_image:hover{
    filter: grayscale(100%);
}
/* second banner for home page */
.section2_homepage{
    width: 100%;
    background-image: url("../images/banner2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 480px;
}
.banner2_h2{
    padding-top: 160px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2.5rem;
    color: #FFFFFF;
    text-align: center;
    margin-top: 160px;
}
.subscribe_form{
    display: flex;
    padding-left: 730px;
    margin-top: 56px;  
}
.personal_info_input{
    height: 60px;
    width: auto;
    color: #fff;
    font-family: 'Inter';
    font-size: 1rem;
    border: 1px solid #D5906E;
    border-right-style: hidden;
    border-radius: 10px 0px 0px 10px;
    background: none;
    outline: none;
}   
.sub{
    width: auto;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
/* last article of home page */
.last_article{
    width: 80%;
    margin: auto;
}
.last_article_h{
    margin-top: 161px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2.25rem;
    color: #402101;
    text-align: center;
    margin-bottom: 40px;
}
.explanation{
    width: 100%;
    height: 129px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
}
.exp_card{
    width: 30%;
    height: fit-content;
    background: rgba(213, 144, 110, 0.3);
    border-radius: 8px;
}
.exp_card_h{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.5rem;
    color: #B53B1B;
    margin-bottom: 24px;
}
.exp_card_text{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    color: #402101;
}
.last_question{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1.5rem;
    color: #402101;
    text-align: center;
}
.last_article_button{
    width: 309px;
    height: 56px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    background-color: #B53B1B;
    border-radius: 10px;
    border: none;
    margin: 20px 0 160px 0;
    margin-left: 40%;
}
.view_more{
    display: none;
}
/* banner for artworks page */
.section2{
    width: 100%;
    background-image: url("../images/Rectangle\ 107.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 560px;
}
.second_banner_text{
    /* width: 39%; */
    position: absolute;
    margin-top: 245px;
    left: 50.5%;
    transform: translate(-61.5%);
    color: #fff;
}
.contact_h2{
    margin-bottom: 50px;
}
.contact_button{
    margin-left: 15%;
    width: 65%;
}
/* search for artwoks page */
.artworks_search{
    width: 50%;
    margin: auto;
    margin-top: 161px;
    margin-bottom: 61px;
}
.category_h{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.125rem;
    color: #402101;
    margin-right: 22px;
}
.category{
    display: flex;
    align-items: center;
}
.search_input{
    width: 50%;
    height: 56px;
    margin-left: 50px;
    border-right: none;
    border-radius: 10px 0 0 10px;
    outline: none;
}
.artworks_submit{
    height: 56px;
    width: 25%;
    text-align: center;
    padding-top: 20px;
    background: #402101;
    border-radius: 0px 10px 10px 0px;  
    cursor: pointer;
}
.action_page{
    display: flex;
}
/* artworks article */
.artworks_article{
    width: 80%;
    margin: auto;
    margin-bottom: 160px;
}
.artworks_article_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sort{
    display: flex;
    gap: 44px;
    border: 2px solid #B53B1B;
    border-radius: 5px;
}
.artworks_article_h{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 2.5rem;
    color: #402101;
}
.sort_p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.5rem;
    color: #402101;
}
/* arworks article + figure/figcaption */
.figure_div_first{
    margin-top: 94px;
    display: flex;
    justify-content: space-between;
}
.figure_div_second{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
.artworks_figcaption{
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}
h4{
    color: #402101;
}
.artworks_figcaption_p{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    color: #B53B1B;
    text-align: left;
}
.boxshadow_image:hover{
    box-shadow: 10px 10px 5px 12px rgb(148, 93, 67);
}
/* artwork pages */
.artworks_page_numbers{
    width: 29%;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: 146px;
}
.numbers{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.125rem;
    color: #402101;
}
.page_numbers{
    width: 56px;
    height: 56px;
    border: 2px solid #B53B1B;
    padding-top: 17px;
}
.bold{
    background: #B53B1B;
}
.exeption{
    color: #fff
}
/* contact page */
.section3{
    width: 100%;
    background-image: url("../images/contact\ banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 720px;
}
.contact_form{
    width: 26%;
    height: 400px;
    background: rgba(64, 33, 1, 0.73);
    border: 1px solid #FFFFFF;
    box-shadow: -1px -1px 4px #FFFFFF;
    border-radius: 10px;
    margin-left: 240px;
    top: 50%;
    transform: translate(0%, 50%);
}
.submite_page_p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    padding: 24px 0 0 30px;
}
.input_info{
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
}
.email{
    margin-left: 70px;
}
.inputs{
    width: 45%;
    height: 35px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: none;
    outline: none;
    border: 2px solid rgb(219, 195, 195);
}
.text_place{
    width: 90%;
    height: 100px;
    margin: 0 auto;
    margin-top: 40px;
    color: #fff;
    background: none;
    border: 2px solid rgb(219, 195, 195);
    border-radius: 10px;
    resize: none;
    display: flex;
    align-content: center; 
}
.submit{
    width: 90%;
    margin: 0 auto;
}
.submit_info{
    width: 147px;
    height: 56px;
    margin-top: 40px;
    background: #D5906E;
    border-radius: 10px;
}
.submit_info:hover{
    transform: translateX(16px);
    transition:0.5s;
}
/* contact info and MAP */
.contact_map{
    width: 62%;
    height: 408px;
    background: rgba(213, 144, 110, 0.3);
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 160px;
}
.map_title{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    color: #402101;
    text-align: center;
}
.contact_info{
    display: inline-block;
    margin-top: 40px;
}
.contact_methods{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 18px;
    color: #B53B1B;
    margin-bottom: 7px;
}
.contact_information{
    font-family: 'Inter';
    font-weight: 300;
    font-size: 16px;
    color: #623932;
}
.addon_class{
    margin-top: 32px;
}
.addon_class1{
    margin-bottom: 32px;
}
.iframe{
    width: 68%;
    margin-top: 40px;
    height: 320px;
    text-align: end;
    display: inline-block;
}
iframe{
    width: 100%;
    height: 100%;
}
.main_div{
    display: flex;
    justify-content: space-between;
}
/* contact page footer */
footer{
    width: 100%;
    height: 240px;
    background: #402101;
}
.main_navigation_div{
    width: 62%;
    height: 70%;
    padding-top: 32px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.help_plus_icons{
    width: 168px;
}
.footer_contact{
    width: 200px;
}
.footer_h{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1.125rem;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer_p{
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    color: #FFFFFF;
}
.addon_p{
    margin-top: 8px;
    margin-bottom: 43px;
}
.footer_logos{
    display: flex;
    justify-content: space-between;
}
.f_logo:hover{
    transform: translateY(-16px);
    transition:0.5s;
}
.span1{
    color: #fff;
    font-family: 'Rubik';
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
}
.contact_mini_divs{
    display: flex;
    align-items: center;
    gap: 16px;
    /* border: 2px solid rgb(241, 238, 238); */
}
.contact_mini_divs:hover{
    transform: scale(1.2);
    transition: 0.5s;
}
.envelope{
    margin: 32px 0 31px 0;
    align-items: center;
}


















